export JAVA_HOME="{{ java_home }}"
export HBASE_CLASSPATH="{{ '${HBASE_CLASSPATH}:' ~ hadoop_conf_dir }}"
export HBASE_LOG_DIR="{{ hadoop_log_dir }}"
export HBASE_MANAGES_ZK=false
export KRB5_TRACE=/dev/stdout
_HBASE_ZK_OPTS="
-Dsun.security.krb5.debug=true
-Dsun.security.spnego.debug=true
-Djavax.security.auth.useSubjectCredsOnly=false
-Djava.security.auth.login.config={{ hbase_conf_dir ~ '/hbase_jaas.conf' }}
-Dzookeeper.sasl.clientconfig=Client
{% if with_ssl | bool %}
-Dzookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
-Dzookeeper.client.secure=true
-Dzookeeper.ssl.keyStore.location={{ ssl_server_keystore_location }}
-Dzookeeper.ssl.keyStore.type=JKS
-Dzookeeper.ssl.keyStore.password={{ ssl_password }}
-Dzookeeper.ssl.trustStore.location={{ ssl_server_truststore_location }}
-Dzookeeper.ssl.trustStore.type=JKS
-Dzookeeper.ssl.trustStore.password={{ ssl_password }}
{% endif %}
"
#export HBASE_MASTER_OPTS="${HBASE_MASTER_OPTS} ${_HBASE_ZK_OPTS}"
#export HBASE_REGIONSERVER_OPTS="${HBASE_REGIONSERVER_OPTS} ${_HBASE_ZK_OPTS}"
#export HBASE_SHELL_OPTS="${HBASE_SHELL_OPTS} ${_HBASE_ZK_OPTS}"
export HBASE_OPTS="${HBASE_OPTS} ${_HBASE_ZK_OPTS}"
