<configuration>
  <property><name>tez.lib.uris</name><value>{{ tez_lib_uris }}</value></property>
  <property><name>tez.use.cluster.hadoop-libs</name><value>true</value></property>
  <property><name>tez.am.tez-ui.webservice.enable</name><value>false</value></property>
  <property><name>tez.am.tez-ui.webservice.enable.ssl</name><value>{{ tez_with_ssl | bool | ternary('true', 'false') }}</value></property>
  <property><name>tez.tez-ui.history-url.base</name><value>{{ ( tez_with_ssl | bool | ternary('https://' ~ tez_hostname ~ ':8443', 'http://' ~ tez_hostname ~ ':8081') ) ~ '/tez-ui' }}</value></property>
  <property><name>tez.runtime.shuffle.ssl.enable</name><value>{{ tez_with_ssl | bool | ternary('true', 'false') }}</value></property>
  <property><name>tez.runtime.shuffle.keep-alive.enabled</name><value>{{ tez_with_ssl | bool | ternary('true', 'false') }}</value></property>
  <property><name>tez.session.am.dag.submit.timeout.secs</name><value>2</value></property>
{% if yarn_with_tls_v15 | bool %}
  <property><name>tez.history.logging.service.class</name><value>org.apache.tez.dag.history.logging.ats.ATSV15HistoryLoggingService</value></property>
{% else %}
  <property><name>tez.history.logging.service.class</name><value>org.apache.tez.dag.history.logging.ats.ATSHistoryLoggingService</value></property>
{% endif %}
</configuration>
