pgjdbc {
       com.sun.security.auth.module.Krb5LoginModule required
       doNotPrompt=true
       useKeyTab=true
       keyTab="{{ keytabs_path ~ '/hive.keytab' }}"
       storeKey=true
       useTicketCache=false
       principal="{{ 'hive/' ~ inventory_hostname ~ '@' ~ kerberos_realm }}"
;};

Client {
       com.sun.security.auth.module.Krb5LoginModule required
       doNotPrompt=true
       useKeyTab=true
       keyTab="{{ keytabs_path ~ '/hive.keytab' }}"
       storeKey=true
       useTicketCache=false
       principal="{{ 'hive/' ~ inventory_hostname ~ '@' ~ kerberos_realm }}"
;};

com.sun.security.jgss.krb5.initiate {
       com.sun.security.auth.module.Krb5LoginModule required
       doNotPrompt=true
       useKeyTab=true
       keyTab="{{ keytabs_path ~ '/hive.keytab' }}"
       storeKey=true
       useTicketCache=false
       principal="{{ 'hive/' ~ inventory_hostname ~ '@' ~ kerberos_realm }}"
;};
