export HADOOP_HEAPSIZE=2048
export HIVESERVER2_PID_DIR={{ hive_pid_dir }}
{% if with_zookeeper | bool %}
export HADOOP_CLIENT_OPTS="${HADOOP_CLIENT_OPTS}
-Djavax.security.auth.useSubjectCredsOnly=false
-Djava.security.auth.login.config={{ hive_conf_dir ~ '/hive_jaas.conf' }}
-Dzookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
-Dzookeeper.client.secure=true
-Dzookeeper.ssl.keyStore.location={{ ssl_server_keystore_location }}
-Dzookeeper.ssl.keyStore.type=JKS
-Dzookeeper.ssl.keyStore.password={{ ssl_password }}
-Dzookeeper.ssl.trustStore.location={{ ssl_server_truststore_location }}
-Dzookeeper.ssl.trustStore.type=JKS
-Dzookeeper.ssl.trustStore.password={{ ssl_password }}
-Dzookeeper.sasl.clientconfig=Client
"
{% endif %}
