export HADOOP_HOME="{{ hadoop_home }}"
export HADOOP_CONF_DIR="{{ hadoop_conf_dir }}"
export LD_LIBRARY_PATH="${HADOOP_HOME}/lib/native:${LD_LIBRARY_PATH}"

export SPARK_HOME="{{ spark_home }}"
#export SPARK_MASTER={{ 'spark://' ~ spark_master_hostname ~ ':7077' }}
export SPARK_MASTER_HOST={{ spark_master_hostname }}
export SPARK_MASTER_PORT=7077
export SPARK_PUBLIC_DNS={{ inventory_hostname }}
export PYSPARK_PYTHON=python3
export PATH=${PATH}:${SPARK_HOME}/sbin:${SPARK_HOME}/bin
export PYTHONPATH=${SPARK_HOME}/python/:${PYTHONPATH}

export SPARK_LOG_DIR="{{ spark_log_dir_os }}"
export SPARK_WORKER_DIR="/tmp/spark-worker-dir"
