<configuration>
  <property><name>ssl.client.truststore.location</name><value>{{ ssl_server_truststore_location }}</value></property>
  <property><name>ssl.client.truststore.password</name><value>{{ ssl_password }}</value></property>
  <property><name>ssl.client.truststore.type</name><value>jks</value></property>
  <property><name>ssl.client.keystore.location</name><value>{{ ssl_server_keystore_location }}</value></property>
  <property><name>ssl.client.keystore.password</name><value>{{ ssl_password }}</value></property>
  <property><name>ssl.client.keystore.keypassword</name><value>{{ ssl_password }}</value></property>
  <property><name>ssl.client.keystore.type</name><value>jks</value></property>
</configuration>
